<ion-view view-title="Matching">
  <ion-content>
    <div class="card">
      <div class="item item-divider" align="centre">
          Tommy Kilmer and Sonia Wang
      </div>

      <div class="item item-image">
        <img src="https://scontent-lga.xx.fbcdn.net/hphotos-xta1/v/t1.0-9/10351019_795262650493040_1253682393583480108_n.jpg?oh=6bd1462d4adcef11f775e62631629e6b&oe=55B29D20" max-height="50%" max-width="auto">
      </div>

      <div class="item item-image">
        <img src="https://scontent-lga.xx.fbcdn.net/hphotos-xfa1/t31.0-8/10849057_520498418093165_9090433940660672840_o.jpg"
        max-height="50%" max-width="auto">
      </div>

    </div>
  </ion-content>
</ion-view>
